<h1>Burgers to devour</h1>
<ul>
    {{#each burgers}}
        {{#unless devoured}}
        {{> burger/burger-block devoured=true}}
        {{/unless}}
    {{/each}}
</ul>
<h1>You ate all these burgers</h1>
<ul>
    {{#each burgers}}
        {{#if devoured}}
        {{> burger/burger-block devoured=false}}
        {{/if}}
    {{/each}}
</ul>

<form class="create-form">

    <div class="form-group">
        <label for="newBurger">Burger:</label>
        <input type="text" id="newBurger" name="burger_name">
    </div>
    <br><br>
    <button type="submit">Add Burger</button>
</form>