body {
    background-color: dodgerblue;
    font-family: 'Noto Sans JP', sans-serif;
};

.container {
    max-width: 750px;
}

.firstBox {
    margin-top: 50px;
};

.secondBox {
    border-top: solid 3px black;
    border-left: solid 3px black;
};

.change-devoured {
    margin-top: 50px;
};